<!doctype html>
<html>
   <body>
      <head>
         <title>
            login
         </title>
      </head>

      <section>
         <h1>
            <hr width="220" align="left" color="black" />
            OSSP 계정 로그인
         </h1>
       </section>


      {% if error %}
         <p><strong>Error:</strong> {{ error }}
      {% endif %}

      <form action = "" method = "POST">
         
         <d1>
            <dt>아이디:</dt>
            <dd>
               <input type="text" name = "username" value = "{{request.form.username}}"> 
            </dd>
            <dt>비밀번호:</dt>
            <dd>
               <input type="password" name="password">
            </dd>>
         </d1>
         <p><input type="submit" value="Login"></p>
         <hr width="220" align="left" color="black" />
      </form>
   </body>
</html>