<!DOCTYPE html>
<html>
  <head>
    <title>Mainpage</title>
  </head>
  <body>
    <div style="text-align:center">
    <p style="font-size: 200%"><b>2022년 수업방식 설문조사</b></p>

    <p>설문조사에 참여하시려면 <span style="font-weight: bold;"><U>로그인</U></span>이 필요합니다</p>
    <p>
      <button type="button" onclick="location.href='/login'">로그인</button>
    </p>
    <hr align="center" style="border:groove 5px blue; width:50%">
    <p>
      아직 아이디가 없으시다면 <span style="font-weight: bold;"><U>회원가입</U></span>이 필요합니다.
      <form action="/sign_up">
      <input type="submit" value="회원가입" />
      </form>
    </p>
    </div>
  </body>
</html>
