<!doctype html>
<html>
   <body>
   
      <form action = "/result" method = "POST">
         <p>Name <input type = "text" name = "Name" /></p>
         <p>Student Number <input type = "text" name = "StudentNumber" /></p>
         <p>Gender</p>
            <label><input type="radio" name="Gender" value="Male"/>Male</label>
            <label><input type="radio" name="Gender" value="Female"/>Female</label>
         <p>Major <input type = "text" name = "Major" /></p>
         <p>Programming Languages</p>
            <label><input type="checkbox" name="languages" value="Python"/>Python</label>
            <label><input type="checkbox" name="languages" value="Java"/>Java</label>
            <label><input type="checkbox" name="languages" value="HTML"/>HTML</label>
            <label><input type="checkbox" name="languages" value="C++"/>C++</label>

         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>
