<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>sign_up</title>
</head>
<body>

  <section>
    <h1>OSSP 회원가입</h1>
  </section>

  <section>
    <form name="login" action="index.html" method="post">

      이름<br>  <input type="text" name="user_name" placeholder="이름 입력" value=""> <br>
      생년월일<br> 
      <select name="year">
        <option value="">-- 선택 --</option>
        <option value="1995">1995</option>
        <option value="1996">1996</option>
        <option value="1997">1997</option>
        <option value="1998">1998</option>
        <option value="1999">1999</option>
        <option value="2000">2000</option>
      </select>
      <select name="month">
        <option value="">-- 선택 --</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="day">
        <option value="">-- 선택 --</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select><br>
      성별<br>
      <label for="man">남자</label>
      <input type="radio" name="gender" value="m" id="man">
      <label for="woman">여자</label>
      <input type="radio" name="gender" value="m" id="woman"> <br><br>

      학부<br> 
      <select name="year">
        <option value="">-- 선택 --</option>
        <option value="연계전공">연계전공</option>
        <option value="문과대학">문과대학</option>
        <option value="이과대학">이과대학</option>
        <option value="경영대학">경영대학</option>
        <option value="공과대학">공과대학</option>
        <option value="기타">기타</option>


      </select><br><br> 

      ID<br>
      <input type="text" name="user_ID" placeholder="ID 입력" >
      <br>
      PASSWORD<br>
      <input type="password" name="user_PW1" value="123456"><br>
      PASSWORD 재확인<br>
      <input type="password" name="user_PW2" value="123456">
      <br><br>

      이메일<br><input type="email" name="user_email" placeholder="email@gmail.com"><br>
      휴대전화<br>
      <input type="text" name="user_phone" placeholder="010-****-****"><br>
      이메일 문자 수신여부<br>
      <label for="man">수락</label>
      <input type="radio" name="gender" value="m" id="man">
      <label for="woman">거부</label>
      <input type="radio" name="gender" value="m" id="woman"> <br><br>

      <p><input type="button" value="SUBMIT" onClick="history.go(-1)">

    </form>
  </section>


</body>
</html>